<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" xmlns:table="urn:jsptagdir:/WEB-INF/tags/form/fields" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:list id="pl_drink_domain_Plan" items="${plans}" z="9qMLC6HmLveztlMeTWLzU3DglFs=">
        <table:table data="${plans}" id="l_drink_domain_Plan" path="/plans" z="WHXoVVYgcRsK6FlTexz4ikdsXFQ=">
            <table:column date="true" dateTimePattern="${plan_startdate_date_format}" id="c_drink_domain_Plan_startDate" property="startDate" z="Pyo1phyhvMtcZtAglWp1el1KxL0="/>
            <table:column date="true" dateTimePattern="${plan_enddate_date_format}" id="c_drink_domain_Plan_endDate" property="endDate" z="n+Wj/CwMR36KDFBrWu6n+NVQH9A="/>
            <table:column id="c_drink_domain_Plan_drinker" property="drinker" z="1ltpyteSiaRG2EtB0q5TeUDmH1c="/>
        </table:table>
    </page:list>
</div>
