<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:fn="http://java.sun.com/jsp/jstl/functions" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" version="2.0">
	<jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <h3>Your Daily Standard Alcoholic Drinks (Using Australia Standard):</h3>
	<script>
		// Load the Visualization API and the piechart package.
    	google.load('visualization', '1', {'packages':['annotatedtimeline']});
      
    	// Set a callback to run when the Google Visualization API is loaded.
    	google.setOnLoadCallback(drawChart);
    	
    	function drawChart() {
    	    var jsonData = $.ajax({
    	        url: "/logs/getData",
    	        dataType:"json",
    	        async: false
    	        }).responseText;   
    	    // Create our data table out of JSON data loaded from server.
    	    var data = new google.visualization.DataTable(jsonData);
    	    var options = {
    	    	thickness: 2,
    	        displayAnnotations: true
    	    };
    	    var chart = new google.visualization.AnnotatedTimeLine(document.getElementById('chart_div'));
    	    chart.draw(data, options);
    	}
	</script>
	<div id="chart_div" style="width: 650px; height: 400px;">loading the chart...</div>
</div>