<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:create id="fc_drink_domain_Profile" modelAttribute="profile" path="/profiles" render="${empty dependencies}" z="76g7+P7Ijt0QtCAVb0WOBpEPdBg=">
        <field:input field="firstName" id="c_drink_domain_Profile_firstName" required="true" z="odFKUbmTcyOYyS83AyQsmD314XI="/>
        <field:input field="lastName" id="c_drink_domain_Profile_lastName" required="true" z="ii2FrlbOuMjKIRC0nQflgPIVFuk="/>
        <field:input field="age" id="c_drink_domain_Profile_age" max="120" min="18" required="true" z="3N+KqM+pT8S42qmZ78sur1yQDdI="/>
        <field:input field="gender" id="c_drink_domain_Profile_gender" max="1" min="0" required="true" z="N6Kdtp8V3I4f6PI2AottPLMG9gM="/>
        <field:input field="email" id="c_drink_domain_Profile_email" validationMessageCode="field_invalid_email" z="to1RMGac5cZNXM/9nsm/Bws5Eyo="/>
    </form:create>
    <form:dependency dependencies="${dependencies}" id="d_drink_domain_Profile" render="${not empty dependencies}" z="GVVNv/Za1VJzDOtD9ITVyG3uxuE="/>
</div>
