<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" xmlns:table="urn:jsptagdir:/WEB-INF/tags/form/fields" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:list id="pl_drink_domain_Profile" items="${profiles}" z="0QuHnfmiGi8wiSawCNXsVS9t8jM=">
        <table:table data="${profiles}" id="l_drink_domain_Profile" path="/profiles" z="2rMS/PftD9vEgLdVIMY3IJaj364=">
            <table:column id="c_drink_domain_Profile_firstName" property="firstName" z="Q130L0l7IAK9nxwgtL0B5WlIKdQ="/>
            <table:column id="c_drink_domain_Profile_lastName" property="lastName" z="cUnZDK/m5T2GDgS4OWIVvQc2JNc="/>
            <table:column id="c_drink_domain_Profile_age" property="age" z="Z44EcVSZVid8sHqhmPl4lYVexdE="/>
            <table:column id="c_drink_domain_Profile_gender" property="gender" z="rGoYEikfAjHUw8ydSE2xxKhF4mI="/>
            <table:column id="c_drink_domain_Profile_email" property="email" z="HGpD0sNDvrsviLhMyoaeHP0sIAE="/>
        </table:table>
    </page:list>
</div>
