<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:fn="http://java.sun.com/jsp/jstl/functions" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" xmlns:util="urn:jsptagdir:/WEB-INF/tags/util" version="2.0">
  <jsp:directive.page contentType="text/html;charset=UTF-8"/>
  <jsp:output omit-xml-declaration="yes"/>
  <footer>
  	<spring:url value="/" var="home"/>
  	<span>
    	<a href="${home}">
      		<spring:message code="button_home"/>
    	</a>
  	</span>
  	<c:if test="${pageContext['request'].userPrincipal != null}">
    	<c:out value=" | "/>
    	<span>
      		<spring:url value="/resources/j_spring_security_logout" var="logout"/>
      		<a href="${logout}">
        		<spring:message code="security_logout"/>
      		</a>
    	</span>
  	</c:if>
  	
  	<span id="other">
    	<c:out value=" | "/>
    	<spring:message code="weight"/>
    	<c:out value=" | "/>
    	<spring:message code="motion"/>
    	<c:out value=" | "/>
    	<spring:message code="money"/>
    	<c:out value=" | "/>
    	<spring:message code="sleep"/>  	
    </span>   
  </footer>
</div>
