<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:menu="urn:jsptagdir:/WEB-INF/tags/menu" id="menu" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <menu:menu id="_menu" z="nZaf43BjUg1iM0v70HJVEsXDopc=">
        <menu:category id="c_profile" z="7+DSGeUy45gwkQx/NptxyQe7XpY=">
            <menu:item id="i_profile_new" messageCode="global_menu_new" url="/profiles?form" z="5CN+Gy9le00bCK9RJj72N/fBXsM="/>
            <menu:item id="i_profile_list" messageCode="global_menu_list" url="/profiles?page=1&amp;size=${empty param.size ? 10 : param.size}" z="Xn953x2DUSQIcljOjuowLDd1gRc="/>
        </menu:category>
        <menu:category id="c_drinker" z="ORBCiaWqD/SqcZTb5bdpBr3HkzU=">
            <menu:item id="i_drinker_new" messageCode="global_menu_new" url="/drinkers?form" z="8BikP8+tPhmGxqWr2zYSTWBj1qA="/>
            <menu:item id="i_drinker_list" messageCode="global_menu_list" url="/drinkers?page=1&amp;size=${empty param.size ? 10 : param.size}" z="MoYST8VTYjjnHWcG322M/f3MFvI="/>
        </menu:category>
        <menu:category id="c_beverage" z="Z1BaVYiV65dPxNBbPq1S0/0W7n8=">
            <menu:item id="i_beverage_new" messageCode="global_menu_new" url="/beverages?form" z="33XQbW6fh5kAtr8gMHYz7hnNTWc="/>
            <menu:item id="i_beverage_list" messageCode="global_menu_list" url="/beverages?page=1&amp;size=${empty param.size ? 10 : param.size}" z="utdBjBhkQOx69BjTBF3wcoAOKQw="/>
        </menu:category>
        <menu:category id="c_planunit" z="z/JtS8YOqBtbulBNnTwYU7oH678=">
            <menu:item id="i_planunit_new" messageCode="global_menu_new" url="/planunits?form" z="u4pD7CgMdF8wBVfNY4qyo+n+Tac="/>
            <menu:item id="i_planunit_list" messageCode="global_menu_list" url="/planunits?page=1&amp;size=${empty param.size ? 10 : param.size}" z="5mBOZs165w4jWnwcrSDc04euEKM="/>
        </menu:category>
        <menu:category id="c_log" z="NANAiU9cS9AizfTKwvi0sMwZTQc=">
            <menu:item id="i_log_new" messageCode="global_menu_new" url="/logs?form" z="2WHdrbEyB493Z/ULRCBVAkngPeg="/>
            <menu:item id="i_log_list" messageCode="global_menu_list" url="/logs?page=1&amp;size=${empty param.size ? 10 : param.size}" z="2QFxTPnngM2feC7xmBsTqR6eRT0="/>
        </menu:category>
        <menu:category id="c_plan" z="rFhVlXy74qcnIbTwQajzgsWD6BQ=">
            <menu:item id="i_plan_new" messageCode="global_menu_new" url="/plans?form" z="pmT6Tnb2ILN69q8LLN9eOwtpb5s="/>
            <menu:item id="i_plan_list" messageCode="global_menu_list" url="/plans?page=1&amp;size=${empty param.size ? 10 : param.size}" z="FI29aui93BPpx9sqFBTejTem3nY="/>
        </menu:category>
    </menu:menu>
</div>
