<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:create id="fc_drink_domain_PlanUnit" modelAttribute="planUnit" path="/planunits" render="${empty dependencies}" z="EJ4OzazFBWP+NRgFfmIyiy32EVE=">
        <field:input field="amount" id="c_drink_domain_PlanUnit_amount" min="0" required="true" z="Kzqvp0BQE/SxWOb5l60oSBiLUhI="/>
        <field:input field="dayIndex" id="c_drink_domain_PlanUnit_dayIndex" max="366" min="1" required="true" z="mZ7BypwwobERjtz+TO1lStDx1Ps="/>
        <field:select field="plan" id="c_drink_domain_PlanUnit_plan" itemValue="id" items="${plans}" path="/plans" required="true" z="iT8QfKV7wf8PSkMYZSPqLNTOuxc="/>
        <field:select field="beverage" id="c_drink_domain_PlanUnit_beverage" itemValue="id" items="${beverages}" path="/beverages" required="true" z="C67EGSdTxeuNIWFIqIr7W064SPw="/>
    </form:create>
    <form:dependency dependencies="${dependencies}" id="d_drink_domain_PlanUnit" render="${not empty dependencies}" z="r+nyNG6BZX8yck8d6mNuMAs0uMg="/>
</div>
